/* クラスに"imascgss"[+α]を指定したものにスタイルを適用する */

/* ボタンは共通デザイン */
button.imascgss{
	background-color:#fff;
	background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1)); /*上から下に、10%暗くなるグラデ*/
	border:1px solid #000;
	border-radius:4px;
	color:#000;
	cursor:pointer;
	font-weight:bold;
	font-size:16px;
	min-width:100px;
	padding:.5em 0;
	box-shadow:0 4px #000;
}
button.imascgss.strong{background-color:#f7d}
button.imascgss:disabled{background-color:gray; cursor:auto}
button.imascgss.strong, button.imascgss:disabled{ /*背景色が白ではないボタン共通:白文字に黒縁取り*/
	color:#fff;
	text-shadow:
		-1px -2px 0 #000, 1px -2px 0 #000,
		-2px -1px 0 #000, 2px -1px 0 #000,
		-2px  1px 0 #000, 2px  1px 0 #000,
		-1px  2px 0 #000, 1px  2px 0 #000; /*要するに八方桂馬の位置です。半径sqrt(3)*/
}
button.imascgss:active{transform:translateY(4px); box-shadow:none} /*押下中*/

/* 属性色設定。明暗反転は、反転表現属性文字列で指定。
   https://www.kanzaki.com/docs/html/color-check の輝度比を参考に、属性が切り替わっても輝度が変わらないようにした */
/*#d06:#ffe7ee is 0.16331:0.84585=4.2*/
.imascgss.cute{color:#d06; border-color:#d06; background-color:#ffe7ee}
.imascgss.etuc{color:#ffe7ee; border-color:#ffe7ee; background-color:#d06}
/*#06f:#e7eeff is 0.16723:0.85358=4.16*/
.imascgss.cool{color:#06f; border-color:#06f; background-color:#e7eeff}
.imascgss.looc{color:#e7eeff; border-color:#e7eeff; background-color:#06f}
/*#960:#feb is 0.16275:0.85997=4.277*/
.imascgss.passion{color:#960; border-color:#960; background-color:#feb}
.imascgss.noissap{color:#feb; border-color:#feb; background-color:#960}
/*#373:#cfc is 0.14136:0.88717=4.897*/
.imascgss.notidol{color:#373; border-color:#373; background-color:#cfc}
.imascgss.loditon{color:#cfc; border-color:#cfc; background-color:#373}
/*文字列反転は自作で→ const reverseString = s=>{let t="";for(let v of s){t=v+t}return t} */
